* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: rgba(28,28,28,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  overflow: show;
}
.Perfil{
  width: 23vw;
  height: 100vh;
  padding: 15px;
  margin-right: auto;
  position: fixed;
  top: -8vh;
  
}
.EditarPerfil{
  top: 100%;
  left: 100%;
  position: relative;
  width: 3.5vw;
  height: 7vh;
}
.ImagendeUsuarios {
  width: 15vw;
  height: 15vw;
  margin-bottom: 20%;
  background: rgba(196,196,196,1);
  opacity: 1;
  border-radius: 50%;
}
.Username{
  color: rgba(255,255,255,1);
  font-family: Sora;
  font-weight: Regular;
  font-size: 5vh;
  opacity: 1;
  top: 40%;
  left: 28%;
  text-align: center;
}
.Amigos {
  color: rgba(255,255,255,1);
  font-family: Sora;
  font-weight: Regular;
  font-size: 3vh;
  opacity: 1;
  margin: 5vh;
  top: 53%;
  left: 35%;
  text-align: center;
}
.RecuadroA {
  width: 20vw;
  height: 7vh;
  background: rgba(57,57,57,1);
  opacity: 1;
  top: 55%;
  left:20%;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.NumeroA {
  color: rgba(255,255,255,1);
  font-family: Sora;
  font-weight: Regular;
  font-size: 3vh;
  opacity: 1;
  text-align: center;
  top: 25%;
  left: 40%;
}
.Grupos {
  color: rgba(255,255,255,1);
  font-family: Sora;
  font-weight: Regular;
  font-size: 3vh;
  opacity: 1;
  text-align: center;
  margin-top: 5vh;
  top: 65%;
  left: 35%;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.Publicacion{
  width: 77vw;
  padding: 15px;
  margin-right: auto;
  position: absolute;
  left: 23vw;
  top:0%
}